Flask==3.0.3
Flask-Cors==5.0.0
Flask-SQLAlchemy==3.1.1
ultralytics==8.3.15
opencv-python==4.10.0.84
numpy==1.26.4
cloudinary==1.41.0
python-dotenv==1.0.1
Pillow==10.4.0
requests==2.32.3
torch==2.4.1
torchvision==0.19.1
gunicorn==23.0.0
Werkzeug==3.0.4
psycopg2-binary==2.9.9
